.ground {
    position:relative;
    height: 500px;
    width: 100%;
    background: rgb(234, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    height:450px;
    width:30%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    height:450px;
    width:30%;
    background-image: linear-gradient(180deg,rgba(51,205,148,255),rgba(6,155,109,255));   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin_input {
    background-color: rgba(239,239,239,255);
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 6px;
    padding: 10px;
}

button.Signin_button:hover
{
    background-color: green;
}

button.Signin_button:active
{
    background-color: rgb(41, 67, 41);
}

.Signin_button {
    width: 80%;
    background-color:green;
    color: white;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 6px;
    padding: 10px;
}

.image {
    height: 20px;
    width: 20px;
    margin: 0px 10px 10px 10px;
    flex-direction: row;
}

button.signup:hover
{
    background-color: rgb(146, 215, 146);
}

button.signup:active {
    background-color:rgb(41, 67, 41);
}

.signup {
    background-color: rgba(51,205,148,255);
    color: white;
    margin: 6px;
    border-style: none;
    border-radius: 6px;
    padding: 10px;
}